:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

:root {
  --app-dark-primary: #121314;
  --app-dark-contrast-primary: #d1dae3;
  --app-dark-secondary: #181a1f;
  --app-dark-contrast-secondary: #9199a1;
  --app-dark-tertiary: #17242e;
  --app-dark-contrast-tertiary: #67b4f0;

  --app-light-primary: #fffeff;
  --app-light-contrast-primary: #181a1f;
  --app-light-secondary: #fffeff;
  --app-light-contrast-secondary: #181a1f;
  --app-light-tertiary: #67b4f0;
  --app-light-contrast-tertiary: #17242e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --app-primary: var(--app-dark-primary);
    --app-contrast-primary: var(--app-dark-contrast-primary);
    --app-secondary: var(--app-dark-secondary);
    --app-contrast-secondary: var(--app-dark-contrast-secondary);

    --app-tertiary: var(--app-dark-tertiary);
    --app-contrast-tertiary: var(--app-dark-contrast-tertiary);

    --text-primary: var(--app-dark-contrast-primary);
    --text-secondary: var(--app-dark-contrast-secondary);
    --date-picker-background: var(--app-dark-secondary);
    --date-picker-foreground: var(--app-dark-contrast-secondary);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --app-primary: var(--app-light-primary);
    --app-contrast-primary: var(--app-light-contrast-primary);
    --app-secondary: var(--app-light-secondary);
    --app-contrast-secondary: var(--app-light-contrast-secondary);

    --app-tertiary: var(--app-light-tertiary);
    --app-contrast-tertiary: var(--app-light-contrast-tertiary);

    --text-primary: var(--app-light-contrast-primary);
    --text-secondary: var(--app-light-contrast-secondary);
    --date-picker-background: var(--app-light-secondary);
    --date-picker-foreground: var(--app-light-contrast-secondary);
  }
}

@font-face {
  font-family: racing-sans-one;
  src: url("/fonts/RacingSansOne-Regular.ttf");
}

@font-face {
  font-family: hind;
  src: url("/fonts/Hind-Regular.ttf");
}
